body{
    background-image: url(coffee.avif);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #3b8d99;
}

.header, .container{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 60px;
    background: linear-gradient(to left, #aa4b6b, #3b8d99);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.inputField{
    padding: 10px;
    width: 40%;
    border: none;
    font-size: 30px;
}

.btn{
    padding: 20px;
    background-color: #3b8d99;
    border: none;
    font-size: 30px;
}