body{
    background-image: url(coffee.avif);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #3b8d99;
}

.header, .container{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 60px;
    background: linear-gradient(to left, #aa4b6b, #3b8d99);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.inputField{
    padding: 10px;
    width: 40%;
    border: none;
    font-size: 30px;
}

.btn{
    padding: 20px;
    background-color: #3b8d99;
    border: none;
    font-size: 30px;
}

.toDoAdded{
    background-color: #ae5f75;
    list-style-type: none;
    height: 60px;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 30px;
    border-bottom: 1px solid white;
    }
    
    .toDoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .toDoCompleted{
        background: #3b8d99;
        color: black;
        font-weight: bold;
        text-decoration: line-through;
        transition: all 1s ease;
    }
    

    @media all and (max-width:820px){
        h1{
            font-size: 35px;
        }
    }
    
    
    @media all and (max-width:500px){
        h1{
            font-size: 20px;
        }
        .inputField{
            font-size: 20px;
            width: 60%;
        }
        .toDoAdded{
        width: 70%;
        margin-right: 10%;
        }
    
    }